/* StylishCats.css */
.stylish-cats {
    display: flex;
    justify-content: space-between;
    margin: 20px 0; /* Añade espacio arriba y abajo */
    background: linear-gradient(to right, #FFB6C1, #800080); /* Fondo degradado */
    padding: 20px; /* Espacio interior */
    border-radius: 10px; /* Bordes redondeados */
}

.stylish-cats .image {
    width: 50%;
}

.stylish-cats .image img {
    width: 100%;
    height: auto;
}

.stylish-cats .text {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center; /* Centra el texto verticalmente */
    align-items: center; /* Centra el texto horizontalmente */
    color: white; /* Color de texto blanco */
}

.stylish-cats .text h1 {
    font-size: 2em; /* Ajusta el tamaño de la fuente */
}

.stylish-cats .text p {
    font-size: 1em; /* Ajusta el tamaño de la fuente */
}
