/* Carousel.css */
.carousel {
    position: relative;
    width: 100%; /* Ajusta el ancho del carrusel */
    height: 450px; /* Ajusta la altura del carrusel */
    margin: auto; /* Centra el carrusel horizontalmente */
}

.carousel img {
    width: 100%;
    height: 100%; /* Asegúrate de que las imágenes ocupen todo el espacio del carrusel */
    object-fit: cover; /* Asegúrate de que las imágenes mantengan su aspecto al escalar */
}

.carousel button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
}

.carousel button:hover {
    background-color: rgba(0, 0, 0, 0.8);
}

.carousel button:active {
    background-color: rgba(0, 0, 0, 1);
}

.carousel button:nth-child(1) {
    left: 10px;
}

.carousel button:nth-child(3) {
    right: 10px;
}
